@model OasisWebApp.DTOs.CartDto

<h1>Корзина</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            ID корзины:
        </dt>
        <dd class="col-sm-10">
            @Model.CartId
        </dd>
    </dl>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th class="text-center">Билеты</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th>Ряд</th>
                <th>Место</th>
                <th>Цена</th>
            </tr>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr class="text-center">
                    <td>@cartItem.Ticket.Row</td>
                    <td>@cartItem.Ticket.Place</td>
                    <td>@cartItem.Ticket.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<strong>К ОПЛАТЕ:</strong> <p>@Model.Total</p>

<div>
    <ul>
        <li>
            <a
               asp-controller="Cart" 
               asp-action="Checkout">Оплатить                
            </a>
        </li>
        <li>
            <a
               asp-controller="Cart"
               asp-action="DeleteCart">Очистить корзину
            </a>
        </li>
    </ul>
</div>



